BasedOnStyle: LLVM
IndentWidth: 4
UseTab: ForIndentation
TabWidth: 4
ColumnLimit: 120

# Aligning was getting too painful, trying to push stuff to the right of the screen when there was a long
# function call.
AlignAfterOpenBracket: DontAlign

# Try to avoid putting *all* the arguments on one line.
PenaltyBreakOpenParenthesis: 20

# If we're passing an array into a function as a non-first argument, this is required to make it break
# and not align to keep everything left.
AlignOperands: DontAlign
